VITE_SUPABASE_KEY=YOUR_SUPABASE_PUBLIC_KEY
VITE_SUPABASE_IMGS_URL=YOUR_SUPABASE_BUCKET_FOR_PROJECT_IMAGES

# PROVIDE YOUR BACKEND URL TO ACCESS GUESTS DATA. For more details: https://github.com/OthmaneNissoukin/nextjs-hotel-booking
VITE_BACKEND_URL="http://localhost:3000" 